<h1 class= "page-header">Editing Task</h1>
<ol class= "breadcrumb">
  <li><a href="/tasks">Tasks</a></li>
  <li class="active"><%= link_to @task.description, task_path %> </li>
  <li class="active"><%=@task.description%></li>
</ol>


<%= render 'form' %>
