
<h1 class="page-header"> Tasks

<a class='btn btn-default pull-right btn-info' href=/tasks/new> New Task</a>
</h1>

<p id="notice"><%= notice %></p>

<table class = "table table-striped table-hover">
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>

    <% @tasks.each do |task| %>
      <tr>

        <td ><%= link_to task.description%></td>

        <td class= "text-right">
          <a class= 'btn btn-info' <%= link_to 'Edit', edit_task_path(task) %>
        <a class= 'btn btn-danger' <%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
