

<h1 class="page-header"> <%= @task.description %>
<a class= 'btn btn-info pull-right' <%= link_to 'Edit', edit_task_path(@task) %>
</h1>
<ol class= "breadcrumb">
  <li><a href="/tasks">Tasks</a></li>
  <li class="active"><%=@task.description%></li>
</ol>
