<h1 class="page-header"> Projects

  <a class='btn btn-default pull-right btn-info' href=/projects/new> New Project</a>
</h1>


<table class = "table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Tasks</th>
    </tr>
  </thead>

  <tbody>

    <% @projects.each do |project| %>
    <tr>

      <td ><%= link_to "#{project.name}", project_path(project), id: "clickme"%></td>
      <td>
        <%= project.tasks.count%>
      </td>

        <td class= "text-right">
          <a class= 'btn btn-info' <%= link_to 'Edit', edit_project_path(project) %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
