%html
  %h1.page-header Frequently Asked Questions
  %ul
  - @faqs.each do |faqs|
    %ul= link_to faqs.question, "#" + faqs.slug

  -@faqs.each do |faqs|
    %a{:id => faqs.slug}
    %h3=faqs.question
    = faqs.answer
    %p= link_to "Top", "#top"



    -# -@faqs.each do |faqs|
  -#   %li
  -#   = link_to @faqs.question, ("#" + faqs.slug)

  -# =faqs.slug
  -# <p id="<%= common_question.slug %>"><%=

  -# %a#what-is-gcamp
  -# %h3
  -#   = @faq.question[0]
  -# %p
  -#   = @faq.answer[0]
  -# = link_to "Top", "#top"
  -# <a id="how-do-i-join-gcamp"> </a>
  -# %h3
  -#   = @faq.question[1]
  -# %p
  -#   = @faq.answer[1]
  -# = link_to "Top", "#top"
  -# %a#when-will-gcamp-be-finished
  -# %h3
  -#   = @faq.question[2]
  -# %p
  -#   = @faq.answer[2]
  -#
  -# = link_to "Top", "#top"
