 @import "bootstrap-sprockets";
 @import "bootstrap";

// h1 {color: black;}
// h3 {color: gray;}
//
body {
  padding-top: 60px;
  background-color: white;
  padding-bottom: 60px;
  }

hr {
  border-width: 2px;
  border-color: black;
  }

.page-footer{
  border-top: 1px solid black;
  margin-top: 20px;

}

.page-header{
  border-bottom: 1px solid black;

}

button {
  margin: 2px
}

.row {
  margin-top:5px
}


// #notice {
//   color: green;
// }


.img-footer {
  max-width: 2em;
  max-height: 2em;
  margin-right: .5em;
}
//
//
// footer {
//   padding-bottom: 15px;
// }
//
// .panel-primary .panel-heading{
//   background-color: #428bca;
// }
//
// .navbar .navbar-brand{
//   color: #777777;
// }
//











.spacer5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35 { height: 35px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45 { height: 45px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }





// .jumbotron {
//   border: 5px;
//   border-color: black;
//   border-style: solid;
// }
//
// .col-md-4{
//   border: 5px;
//   border-color: black;
//   border-style: solid;
// }
